<app-header></app-header>
<div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <aside class="col-md-3 mt-5 mb-5">

            <ul class="sidebar-nav" id="sidebar-nav">
        
             
        
              <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#salle-nav" data-bs-toggle="collapse" href="#">
                  <i class="bi bi-house"></i><span>Gestion Participations</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="salle-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                
                  <li>
                    <a routerLink="/demandeparticipation">
                      <i class="bi bi-circle"></i><span>Afficher Participations</span>
                    </a>
                    <a routerLink="/statistiques">
                      <i class="bi bi-circle"></i><span>Afficher Statistiques</span>
                    </a>
                  </li>
                </ul>
              </li>
        
              <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#cours-nav" data-bs-toggle="collapse" href="#">
                  <i class="bi bi-newspaper"></i><span>Gestion Offres</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="cours-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                 
                  <li>
                    <a routerLink="/demandeoffer">
                      
                      <i class="bi bi-circle" ></i><span>Afficher Offres</span>
                    </a>
                  </li>
                 
                </ul>
              </li>
        
              <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#salles-nav" data-bs-toggle="collapse" href="#">
                  <i class="bi bi-layout-text-window-reverse"></i><span>Gestion Salles</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="salles-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                  <li>
                    <a href="#">
                      <i class="bi bi-circle"></i><span>Ajouter Salle</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="bi bi-circle"></i><span>Afficher Salles</span>
                    </a>
                  </li>
                </ul>
              </li>
        
              <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#documents-nav" data-bs-toggle="collapse" href="#">
                  <i class="bi bi-file"></i><span>Gestion Documents</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="documents-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                  <li>
                    <a href="#">
                      <i class="bi bi-circle"></i><span>Ajouter Document</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="bi bi-circle"></i><span>Afficher Documents</span>
                    </a>
                  </li>
                </ul>
              </li>
        
              
        
             
        
              <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#users-nav" data-bs-toggle="collapse" href="#">
                  <i class="bi bi-people-fill"></i><span>Gestion Utilisateurs</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="users-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                  <li>
                    <a href="#">
                      <i class="bi bi-circle"></i><span>Afficher Utilisateurs</span>
                    </a>
                  </li>
                </ul>
              </li><!-- End Profile Page Nav -->
        
              
        
              <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#reclamations-nav" data-bs-toggle="collapse" href="#">
                  <i class="bi bi-journal-text"></i><span>Gestion Réclamations</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="reclamations-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                  <li>
                    <a href="#">
                      <i class="bi bi-circle"></i><span>Ajouter Réclamation</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="bi bi-circle"></i><span>Afficher Réclamations</span>
                    </a>
                  </li>
                </ul>
              </li>
        
              <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#actualite-nav" data-bs-toggle="collapse" href="#">
                  <i class="bi bi-card-list"></i><span>Gestion Actualités</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="actualite-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                  <li>
                    <a href="#">
                      <i class="bi bi-circle"></i><span>Ajouter Article</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="bi bi-circle"></i><span>Afficher Articles</span>
                    </a>
                  </li>
                </ul>
              </li><!-- End Register Page Nav -->
        
              <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#rendezvous-nav" data-bs-toggle="collapse" href="#">
                  <i class="bi bi-calendar-check"></i><span>Gestion Rendez-vous</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="rendezvous-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                  <li>
                    <a href="#">
                      <i class="bi bi-circle"></i><span>Ajouter Rendez-Vous</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="bi bi-circle"></i><span>Afficher Rendez-Vous</span>
                    </a>
                  </li>
                </ul>
              </li>
        
              <li class="nav-item">
                <a class="nav-link collapsed" href="pages-login.html">
                  <i class="bi bi-box-arrow-in-right"></i>
                  <span>Login</span>
                </a>
              </li><!-- End Login Page Nav -->
        
            
        
              
        
            </ul>
       
      </aside>
  
      <!-- Contenu principal -->
      <main class="col-md-9 mt-5 mb-5">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-10">
              <!-- Votre tableau et son contenu ici -->
              <div class="card">
                <div class="card-header">
                  <h1 class="text-success"     style="    color: rgb(20 191 207) !important;
                  " 
                  >
                    <strong>Liste des demandes</strong>
                    <span class="text-danger"></span>
                  </h1>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <!-- En-tête du tableau -->
                      <thead>
                        <tr>
                          <th>Titre</th>
                          <th>Description</th>
                          <th >Statut</th>
                          <th>Actions</th>
                          <th></th>
                        </tr>
                      </thead>
                      <!-- Corps du tableau -->
                      <tbody>
                        <!-- Boucle sur les données pour afficher chaque demande -->
                        <tr *ngFor="let participate of participation | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
                          <td>{{ participate.titreoffer }}</td>
                          <td>{{ participate.descriptionoffer }}</td>
                          <td [ngClass]="{ 'text-success': participate.statut.includes('Acceptee'), 'text-danger': participate.statut.includes('Rejected') }"><strong>{{ participate.statut }}</strong></td>
                          <td class="col">
                            <!-- Boutons d'action pour chaque demande -->
                            <a class="btn text-danger" (click)="accepterParticipate(participate.participationId)">
                              <img class="img-fluid" src="assets/backOffice/img/check.png" alt="" style="width: 30px">
                              <span class="material-icons" class="badge badge-sm bg-gradient-success" ></span>
                            </a>
                            <a class="btn text-danger" (click)="refuserParticipate(participate.participationId)" >
                              <img class="img-fluid" src="assets/backOffice/img/cross.png" alt="" style="width: 30px">
                              <span class="material-icons"></span>
                            </a>

                            
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    
            <pagination-controls (pageChange)="page = $event" (maxSize)="itemsPerPage"></pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
  