<app-sidebar></app-sidebar>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header"> Number of Quizzes per Course </div>
        <div class="card-body">
          <canvas id="myChart" width="400" height="400"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header"> Quiz Average Score Statistics </div>
        <div class="card-body">
          <div class="canvas-container">
            <canvas id="myChartquiz" width="400" height="400"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <canvas id="canvas" width="400" height="400"></canvas>
</div>
