<app-header></app-header>
<div class="header-container"></div>

<div class="container">
  <button class="btn btn-md btn-outline-primary" (click)="open(content)">
    <i class="fa fa-calendar"></i> New Event
  </button>
</div>


<div class="container mt-2">
  <div class="table-responsive">
    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!-- Define column definitions with mat-sort-header directive -->
      <ng-container matColumnDef="nom">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;" > Name </mat-header-cell>
        <mat-cell *matCellDef="let event"> {{ event.nom }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Description </mat-header-cell>
        <mat-cell *matCellDef="let event"> {{ event.description }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Date </mat-header-cell>
        <mat-cell *matCellDef="let event"> {{ event.date | date: 'short' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="nombreDePlace">
        <mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: bold;"> Places Available </mat-header-cell>
        <mat-cell *matCellDef="let event"> {{ event.nombreDePlace }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="photoUrl">
        <mat-header-cell *matHeaderCellDef style="font-weight: bold;"> Photo </mat-header-cell>
        <mat-cell *matCellDef="let event">
          <img src="{{ event.photoUrl }}" alt="Event Photo" style="max-width: 100px;">
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="link">
        <mat-header-cell *matHeaderCellDef style="font-weight: bold;"> Link </mat-header-cell>
        <mat-cell *matCellDef="let event">
          <a href="{{ event.link }}" target="_blank" style="font-weight: bold; color: black;">Open link</a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef style="font-weight: bold;"> Action </mat-header-cell>
        <mat-cell *matCellDef="let event">
          <button type="button" class="btn btn-custom-edit" (click)="openedit(contentEdit, event)">Edit</button>
          <button type="button" class="btn btn-custom-delete" (click)="openDelete(contentDelete, event)">Delete</button>
        </mat-cell>
      </ng-container>

      <!-- Define displayed columns -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let event; columns: displayedColumns;"></mat-row>
    </mat-table>
    
    <!-- Include MatPaginator below the table -->
    <mat-paginator [pageSizeOptions]="[3, 6, 9]" [pageSize]="2" showFirstLastButtons></mat-paginator>
  </div>
</div>




  <ng-template #content let-modal>
    <div class="modal-header">
      <h2 class="modal-title" id="modal-basic-title" style="color: #007bff;">New Event</h2>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <div class="modal-body">
      <form id="eventForm" #eventForm="ngForm">
        <!-- Name -->
        <div class="form-group">
          <label for="eventName" style="font-weight: bold;">Name</label>
          <input id="eventName" name="eventName" class="form-control" required minlength="2" [(ngModel)]="eventName">
          <div class="invalid-feedback">Name must be at least 2 characters long.</div>
        </div>
      
        <!-- Description -->
        <div class="form-group">
          <label for="eventDescription" style="font-weight: bold;">Description</label>
          <textarea id="eventDescription" name="eventDescription" class="form-control" required minlength="10" [(ngModel)]="eventDescription"></textarea>
          <div class="invalid-feedback">Description must be at least 10 characters long.</div>
        </div>
      
        <!-- Date and Time -->
        <div class="form-group">
          <label for="eventDateTime" style="font-weight: bold;">Date and Time</label>
          <input type="datetime-local" id="eventDateTime" name="eventDateTime" class="form-control" required [(ngModel)]="eventDateTime" [min]="getCurrentDateTime()">
          <div class="invalid-feedback">Please select a valid date and time.</div>
        </div>
      
        <!-- Places available -->
        <div class="form-group">
          <label for="eventPlaces" style="font-weight: bold;">Places available</label>
          <div class="input-group">
            <input id="eventPlaces" name="eventPlaces" class="form-control" required pattern="[0-9]+" title="Please enter only numbers" [(ngModel)]="eventPlaces">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="decrementPlaces()">-</button>
              <button class="btn btn-outline-secondary" type="button" (click)="incrementPlaces()">+</button>
            </div>
          </div>
          <div class="invalid-feedback">This field is required and must contain only numbers.</div>
        </div>
      
        <!-- Photo -->
        <div class="form-group">
          <label for="eventPhoto" style="font-weight: bold;">Photo</label>
          <div class="input-group">
            <input type="file" id="eventPhoto" name="eventPhoto" class="form-control-file" accept="image/*" (change)="onFileSelected($event)">
          </div>
          <div *ngIf="selectedFile">
            <img [src]="selectedFileUrl" alt="Uploaded photo" class="mt-2 img-thumbnail">
          </div>
          <div class="invalid-feedback">This field is required.</div>
        </div>
      
        <!-- Link -->
        <div class="form-group">
          <label for="eventLink" style="font-weight: bold;">Link</label>
          <input id="eventLink" name="eventLink" class="form-control" required [(ngModel)]="eventLink">
          <div class="invalid-feedback">This field is required.</div>
        </div>
        </form>
        </div>   
      <form class="text-center">
        <div class="form-group mt-3" style="position: relative; top: -10px;"> <!-- Adjusted position of the button -->
          <button type="button" class="btn btn-primary btn-block" (click)="addevent(eventForm)">Submit</button>
        </div>
      </form>
    
    
    </ng-template>  
      <ng-template #contentEdit let-modal>
        <div class="modal-header">
          <h2 class="modal-title" id="modal-basic-title2" style="color: #007bff;">Update Event Data</h2>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="editForm" (ngSubmit)="onSave()">
            <div class="form-group">
              <label for="nom" style="font-weight: bold;">Name</label>
              <div class="input-group">
                <input formControlName="nom" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label for="description" style="font-weight: bold;">Description</label>
              <div class="input-group">
                <input formControlName="description" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label for="date" style="font-weight: bold;">Date and Time</label>
              <div class="input-group">
                <input type="datetime-local" formControlName="date" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label for="nombreDePlace" style="font-weight: bold;">Places</label>
              <div class="input-group">
                <input formControlName="nombreDePlace" class="form-control" id="placeInput">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" (click)="decrementEditPlaces()">-</button>
                  <button class="btn btn-outline-secondary" type="button" (click)="incrementEditPlaces()">+</button>
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <label for="photoUrl" style="font-weight: bold;">Event Photo</label>
              <input type="file" id="photoUrl" class="form-control" (change)="onFileSelected($event)">
              <!-- Display selected file URL -->
              <img [src]="editForm.value.photoUrl || selectedFileUrl" *ngIf="editForm.value.photoUrl || selectedFileUrl" style="max-width: 10%; height: auto;">
            </div>
            <div class="form-group">
              <label for="link" style="font-weight: bold;">Link</label>
              <div class="input-group">
                <input formControlName="link" class="form-control">            
            </div>
        <button data-dismiss="modal" class="btn btn-primary btn-sm d-block mx-auto mt-3" (click)="onSave()">Save Changes</button>

      </div>
      </form> 
        </div>        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
        </div>
        
      </ng-template>
      <ng-template #contentDelete let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Confirm Delete</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        
        <div class="modal-body text-center">
          <h4>Are you sure you want to delete?</h4>
          <button type="button" class="btn btn-danger btn-lg" (click)="onDelete()">Yes, Delete</button>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.close('Cancel click')">Cancel</button>
        </div>        
      </ng-template>
      
